fastapi
uvicorn
python-dotenv
python-multipart
itsdangerous
jinja2

langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-google-genai


faiss-cpu
sentence-transformers
pypdf
tqdm
pydantic

huggingface-hub

easyocr
react-markdown

